.about__container {
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 2rem;
  text-align: center;
  justify-items: end;
}

.about__content p {
  margin: 1.5rem 4rem;
  color: var(--color-light);
}

.about__content .btn {
  margin-top: 2.5rem;
}

/* =======================Media queries======================= */

@media screen and (max-width: 1024px) {
  .about__container {
    padding: 0;
    display: block;
    height: 100vh;
  }
}

@media screen and (max-width: 600px) {
  .about__container {
    padding: 1rem 2rem;
    margin: 0;
    padding: 0;
    display: block;
  }
}

.gradme {
  background: linear-gradient(var(--color-primary-variant), rgb(13, 13, 39));
  border-radius: 10rem 10rem 10rem 10rem;
  overflow: hidden;
  max-width: 20rem;
  max-height: 25rem;
  padding-top: 5.5rem;
}
.gradme:hover {
  background: var(--color-bg);
}
span {
  color: var(--color-white);
}
.contactme {
  margin-top: 3rem;
  text-align: center;
}
