:root {
  --color-bg: #021c35;
  --color-bg-variant: rgba(255, 255, 255, 0.03);
  --color-primary: #eabd80;
  --color-primary-variant: #2c8ab6;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: auto 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

.app {
  color: var(--color-white);
  background-color: var(--color-bg);
  line-height: 1.7;
  .container {
    width: var(--container-width-lg);
    margin: 0 auto;
  }
  .sections {
    // background-color: var(--color-bg);
    position: relative;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    > section,
    footer {
      scroll-snap-align: start;
      width: 100vw;
      height: auto;
      padding-top: 0.6rem;
      h2,
      h5 {
        text-align: center;
        color: var(--color-light);
      }
      h2 {
        color: var(--color-primary);
        margin: 3rem 0;
      }
    }
    > section {
      background-color: var(--color-bg);
      height: 100vh;
    }
  }
}

// Defaults
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
  &:hover {
    color: var(--color-white);
  }
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  &:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
  }
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/* =======================Media queries======================= */

@media screen and (max-width: 1024px) {
  .app .sections {
    scroll-snap-type: none;
  }
  .app .sections > section {
    height: 100vh;
  }
  .app .sections > * h2 {
    margin-top: 6rem;
  }
  .app .container {
    width: var(--container-width-md);
    padding: 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .app .sections {
    scroll-snap-type: none;
  }
  .app .sections > section {
    height: auto;
    margin-bottom: 0;
  }
  .app .sections > * h2 {
    margin: 1rem 0;
  }
  .app .container {
    width: var(--container-width-sm);
    padding: 0;
    margin: 0 auto;
  }
}
